# General

**.DS_Store
*.cache

# Android

**.iml
android/.gradle
android/local.properties
android/.idea/*
android/build
android/app/build


# iOS

build/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
Pods/

# node

node_modules

# appium

appium.txt
